/* You can add global styles to this file, and also import other style files */
:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$center: center;
$shadow-black: #422800;

@mixin textCenter {
  text-align: center;
}

body {
  overflow-x: hidden;
  font-family: monospace, Courier, 'Courier New';
}

h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

p {
  margin: 0;
  color: var(--gray-700);
}

main {
  // width: 100%;
  // min-height: 100%;
  // padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;

  h1,
  span {
    flex: 1;
  }

  span {
    padding-right: 3rem;
    text-align: right;
    align-content: $center;
  }
}

.list {
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.note {
  padding-top: 2rem
}

.etTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  

  thead td {
    font-weight: 700;
    font-size: larger;
  }

  thead,
  tbody {
    border-style: solid;
    border-width: 1px 0px;
  }

  td {
    padding: 1rem 1rem;
  }

  .sortColumn svg {
    vertical-align: middle;
    border: none;
  }

  .nameData {
    width: 10%;
  }
}

.textCenter {
  @include textCenter();
}

.routeBtn {
  @include textCenter();
  background-color: #fbeee0;
  border: 2px solid $shadow-black;
  border-radius: 30px;
  box-shadow: $shadow-black 4px 4px 0 0;
  color: $shadow-black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.routeBtn:hover {
  background-color: #fff;
}

.routeBtn:active {
  box-shadow: $shadow-black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .routeBtn {
    min-width: 120px;
    padding: 0 25px;
  }
}

.btn-Compare {
  @include textCenter();
  align-items: $center;
  border-radius: 12px;
  box-sizing: border-box;
  color: #121212;
  display: inline-flex;
  flex: 1 1 auto;
  cursor: pointer;
  justify-content: $center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 0.7rem;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-active {
  background-color: #fff;
  box-shadow: transparent 0 0 0 3px, rgb(18 18 18 / 50%) 0 5px 12px;
}

.btn-active:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.btn-disable {
  background: #8080806e;
  box-shadow: none;
}

.cursor-NA {
  cursor: not-allowed;
}

table {
  tr {
    vertical-align: baseline;
  }

  span {
    padding: 0px 10px;
  }

  span svg {
    fill: red;
    border: 1px solid red;
    padding: 3px;
    border-radius: 10px;
    vertical-align: bottom;
  }

  span svg:hover {
    cursor: pointer;
  }
}

@media (max-width: 884px) {
  .etTable {
    table-layout: auto;
    width: auto;
    white-space: nowrap;
  }

  table {
    tr {
    box-shadow: 2px 7px 15px #80808054 //
    }
  }

  .list {
    padding: 2rem 0;
    overflow: scroll;
  }


}
